<div className="me_AT_TOP">
<h1>user#index</h1>
<p>Find me in app/views/user/...</p>
<h1>Users</h1>
    <% @users.each do |user|%>
        <li>
            <%= user.us %>
        </li>
    <%end%>
</div>